chatMessageItem(bgcolor) 
    background-color: bgcolor;
    box-sizing: border-box;
    max-width: 100%;
    margin-top: 20px;
    border-radius: 20px;
    padding: 20px;
    font-size: 28px;
    border: 1px solid #dedede;

.chat_chat-message-user {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .chat_chat-message-avatar {
        position: relative;
        border-radius: 20px;
        border: 1px solid #dedede;
        box-sizing: border-box;
        // display: flex;
        // justify-content: center;
        // align-items: center;
    }
    .chat_chat-message-item {
        chatMessageItem(#e7f8ff)
    }
}
.chat_chat-message {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .chat_chat-message-avatar {
      position: relative;
      border-radius: 20px;
      border: 1px solid #dedede;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .chat_chat-message-item {
        chatMessageItem(#fafafa)
    }
}