.header {
    padding: 14px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    .window-header-title {
      flex: 1;
      text-align: center;
      .window-header-main-title {
        font-size: 6vw;
        font-weight: bolder;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;
      }
      .window-header-sub-title {
        font-size: 4vw;
      }
    }
}